{% extends "base.html.twig" %} {% set title = 'Inicio - Pacientes' %} {% block navbar %} {{ parent() }} {% endblock navbar
%} {% block content %}
<div class="container">
    <div class="jumbotron">
        <button class="btn btn-primary" id="btn-reg-paciente" data-path="{{path_for('formulario-reg-paciente')}}">Registrar paciente</button>
        <!--DATATABLE PACIENTES-->
        <hr>
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Próxima cita</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Próxima cita</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>24</td>
                    <td>24/06/2017</td>
                    <td>
                        <button id="editar-18.006.063-4" type="button" class="btn btn-xs btn-primary" data-path="{{path_for('editar-paciente')}}"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button id="agendar-18.006.063-4" type="button" class="btn btn-xs btn-primary" data-path="{{path_for('agendar-hora-paciente')}}"><span class="glyphicon glyphicon-calendar"></span></button>
                        <button id="eliminar-18.006.063-4" type="button" class="btn btn-xs btn-primary"  data-path="{{path_for('eliminar-paciente')}}"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
                {% for p in array %}
                <tr>
                    <td>{{p.nombre}} {{p.apaterno}} {{p.amaterno}}</td>
                    <td>{{p.edad}}</td>
                    <td>{{p.proxima_cita}}</td>
                    <td>
                        <button id="editar-{{p.rut}}" type="button" class="btn btn-xs btn-primary" data-path="{{path_for('editar-paciente')}}"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button id="agendar-{{p.rut}}" type="button" class="btn btn-xs btn-primary" data-path="{{path_for('agendar-hora-paciente')}}"><span class="glyphicon glyphicon-calendar"></span></button>
                        <button id="eliminar-{{p.rut}}" type="button" class="btn btn-xs btn-primary"  data-path="{{path_for('eliminar-paciente')}}"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

<!-- Modal -->
<div id="modal"></div>
<!---->
    </div>
</div>
{% endblock content %} {% block js %} {{ parent() }}

<script>
    $(document).ready(function () {
        //lenguaje tabla
        $('#example').DataTable({
            language: {
                processing: "Procesando solicitud...",
                search: "Buscar:",
                lengthMenu: "Mostrando _MENU_ elementos",
                info: "Mostrando elementos _START_ al _END_ de _TOTAL_ elementos",
                infoPostFix: "",
                loadingRecords: "Cargando...",
                zeroRecords: "No se encontraron datos",
                emptyTable: "No hay datos disponibles",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultima"
                },
                aria: {
                    sortAscending: ": activar para orden ascendente",
                    sortDescending: ": activar para orden descendente"
                }
            }
        });
        //       
        $('#btn-reg-paciente').on('click',function(){
            url = $(this).attr('data-path');
            $.ajax({
                url: url,
                type: 'post'
            }).done(function(data){
                form = JSON.parse(data);
                $('#modal').html(form);
                calcularedad();
                $('#myModal').modal('show');
            });
        });
    });
//calcular edad
function calcularedad(){
    $('#date-fecha-nacimiento').on('change', function(){
        fecha = $(this).val();
        birth_date = fecha.split('-').reverse();
        today_date = new Date();
        today_year = today_date.getFullYear();
        today_month = today_date.getMonth();
        today_day = today_date.getDate();
        age = today_year - birth_date[2];

        if ( today_month < (birth_date[1] - 1))
        {
            age--;
        }
        if (((birth_date[1] - 1) == today_month) && (today_day < birth_date[0]))
        {
            age--;
        }
        console.log(age);
        $('#in-edad').val(age);
    });
}

</script>

{% endblock js %}